{% extends "base.html" %}
{% load static %}

{% block title %}会員登録{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'polls/css/style.css' %}">{% endblock %}

{% block content %}
<div class="inputPageTemp">
    <h1 class="text-center mb-4">会員登録</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-outline-primary">登録する</button>
    </form>
</div>
{% endblock %}
