{% extends "base.html" %}
{% load static %}
{% block title %}{{ storeInfo.name }}{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'polls/css/style.css' %}">{% endblock %}
{% block content %}

    <h1>{{ storeInfo.name }}</h1>

    <!-- タブの構造 -->
    <div class="tabs">
        <button class="tab-button active" onclick="openTab(event, 'details')">詳細情報</button>
        <button class="tab-button" onclick="openTab(event, 'reviews')">レビュー</button>
    </div>

    <!-- 詳細情報のタブ -->
    <div id="details" class="tab-content active">
        <div class="container my-4">
            <h2 class="text-center mb-4">詳細情報</h2>
            
            <!-- 店舗画像 -->
            <div class="text-center mb-4">
                <img src="{{ storeInfo.img.url }}" alt="{{ storeInfo.name }}" class="img-fluid rounded">
            </div>
            
            <!-- 店舗情報 -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row">店舗名</th>
                            <td>{{ storeInfo.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">説明</th>
                            <td>{{ storeInfo.description }}</td>
                        </tr>
                        <tr>
                            <th scope="row">価格</th>
                            <td>{{ storeInfo.price_bottom }}円 ~ {{ storeInfo.price_top }}円</td>
                        </tr>
                        <tr>
                            <th scope="row">営業時間</th>
                            <td>{{ storeInfo.open_time }} ~ {{ storeInfo.close_time }}</td>
                        </tr>
                        <tr>
                            <th scope="row">郵便番号</th>
                            <td>{{ storeInfo.postal_number }}</td>
                        </tr>
                        <tr>
                            <th scope="row">住所</th>
                            <td>{{ storeInfo.address }}</td>
                        </tr>
                        <tr>
                            <th scope="row">電話番号</th>
                            <td>{{ storeInfo.phone_number }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            {% if user.member_status.id == 2 %}
                <div class="d-flex justify-content-center gap-3 mb-2">
                    <!-- お気に入りボタン -->
                    {% if user.is_authenticated %}
                        <div class="text-center mb-4">
                            <form method="POST" action="{% url 'add_favorite' storeInfo.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn {% if is_favorite %}btn-danger{% else %}btn-outline-primary{% endif %}">
                                    {% if is_favorite %}
                                        お気に入り解除
                                    {% else %}
                                        お気に入りに追加
                                    {% endif %}
                                </button>
                            </form>
                        </div>
                    {% endif %}
                    <div class="text-center mb-4">
                        <a href="{% url 'create_reservation' storeInfo.id %}" class="btn btn-outline-info">予約</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

     <!-- レビューのタブ -->
     <div id="reviews" class="tab-content">
        <div class="container my-4">
            <!-- レビュー一覧 -->
            <h2 class="text-center mb-4">レビュー一覧</h2>
            <ul class="list-group">
                {% for review in reviews %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="star-rating-disp">
                                    {% for i in star_range %}
                                        <span class="star{% if i <= review.star_num %} text-warning{% else %} text-muted{% endif %}">★</span>
                                    {% endfor %}
                                </div>
                                <strong>星 {{ review.star_num }} 個</strong>
                            </div>
                            <div>
                                <small class="text-muted">投稿日時 : {{ review.created_date }}</small>
                                {% if review.member_id == user %}
                                    <div>
                                        <a href="{% url 'edit_review' pk=storeInfo.pk review_pk=review.pk %}" class="btn btn-sm btn-outline-primary">編集</a>
                                        <a href="{% url 'delete_review' pk=storeInfo.pk review_pk=review.pk %}" class="btn btn-sm btn-outline-danger">削除</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <p>{{ review.com }}</p>
                    </li>
                {% empty %}
                    <p class="text-center">レビューが存在しません。</p>
                {% endfor %}
            </ul>
            <!-- レビュー投稿フォーム -->
            {% if user.member_status.id == 2 %}
                <h2 class="text-center my-4">レビューを投稿する</h2>
                <form method="post" action="{% url 'add_review' storeInfo.pk %}" class="p-3 border rounded">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="star-rating" class="form-label">評価を選択してください:</label>
                        <div class="star-rating d-flex justify-content-center mb-2">
                            <input type="radio" id="star5" name="star_num" value="5" />
                            <label for="star5" title="5 stars" class="star-rating-label">★</label>
                            
                            <input type="radio" id="star4" name="star_num" value="4" />
                            <label for="star4" title="4 stars" class="star-rating-label">★</label>
                            
                            <input type="radio" id="star3" name="star_num" value="3" />
                            <label for="star3" title="3 stars" class="star-rating-label">★</label>
                            
                            <input type="radio" id="star2" name="star_num" value="2" />
                            <label for="star2" title="2 stars" class="star-rating-label">★</label>
                            
                            <input type="radio" id="star1" name="star_num" value="1" />
                            <label for="star1" title="1 star" class="star-rating-label">★</label>
                        </div>
                    </div>
        
                    <div id="details_reviews_textArea" class="mb-3 d-flex justify-content-center">
                        <!-- <label for="com" class="form-label">コメント</label> -->
                        {{ review_form.com }}
                    </div>
        
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">登録</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>    

    <script src="{% static 'polls/js/scripts.js' %}"></script> <!-- JavaScriptファイルを追加 -->
{% endblock %}